.page {
    background-image: url("https://images.unsplash.com/photo-1623520527569-fee1da87f598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNvZnR3YXJlJTIwZW5naW5lZXJ8ZW58MHx8MHx8&w=1000&q=80");
    background-repeat: no-repeat;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.home-page {
    

    .text-zone {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        border-radius: 2vw;
        padding: 3vw 0;
}

h1 {
    color: #fff;
    font-size: 8vh;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    line-height: .9;

    &:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin-top: -40px;
    opacity: 0.6;
    left: -7vw;
    }

    &:after { 
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin: 1vw;
    animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
    left: -8vw;
    }

    img {
    margin-left: 20px;
    opacity: 0.9;
    width: 32px;
    height: auto;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
    }
}

h2 {
    color: #f4f4f4;
    margin:2vw;
    font-weight: 400;
    font-size: 2vw;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 5vw;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
    background: #ffd700;
    color: #333;
    }
}
}

.self-img{
    width: 20vw;
    height: 25vw;
    position: relative;
    float: right;
    margin: 6vw 10vw auto 12vw;
    border-radius: 4vw;
    opacity: .9;
}
